.App
{
  justify-content:center;
}

body{
  text-align: center;
  background-color:red;
}

.row
{
  justify-content:center;
  background-color:yellow;
}

.container
{
  justify-content: center;
  text-align: center;
}

